In [4]:
valor = input()

algo

In [6]:
valor

'algo'

In [7]:
valor = input()

100

In [8]:
valor

'100'

In [1]:
valor= input()

100

In [3]:
valor= input("Escribe un Valor: ")

Escribe un Valor: 100

In [4]:
valor+100

TypeError: can only concatenate str (not "int") to str

In [5]:
valor= input("Introduce un número entero: ")

Introduce un número entero: 500

In [6]:
valor= int(valor)

In [7]:
valor

500

In [9]:
valor+1000

1500

In [10]:
valor= input("Introduce un número entero: ")

Introduce un número entero: 10.50

In [12]:
valor=float(valor)

In [13]:
valor+10

20.5

In [14]:
valor

10.5

In [15]:
valor= float(input("Introduce un número decimal o entero: "))

Introduce un número decimal o entero: 3.14

In [16]:
valor

3.14

In [17]:
# Completa el ejercicio
nombre= input()
apellido= input()
edad= input()
edad= int(edad)
numero_magico= input()
numero_magico= float(numero_magico)
cadena_final=nombre +" "+ apellido + ": Tu número de la suerte es el " + str(edad*numero_magico)

Luis
Sanchez
18
21.5

In [18]:
cadena_final

'Luis Sanchez: Tu número de la suerte es el 387.0'